{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'write/css/write.css' %}" rel="stylesheet" />

<body>
  <div class="backsplash" style="position: relative; background-image: url({% static 'main/images/backgrounds/1080GreyScaleAbstract.jpeg'%}), url({% static 'main/images/backgrounds/720GreyScaleAbstract.jpeg'%}), url({% static 'main/images/backgrounds/480GreyScaleAbstract.jpeg'%})">
    <div class="container-fluid">
      <div class="row" style="height: 88px; margin: 0;">
      </div>
      <div class="row" style="margin: 0; padding: 0;">
        {% include "write/includes/workspace.html" %}
      </div>
    </div>
  </div>
  {% include "main/includes/footer.html" %}
</body>
{% endblock %}
