<style>
  .custom-context-menu {
    display: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .custom-context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
  }

  .custom-context-menu ul li {
    margin: 0;
    padding: 10px 5px 10px 10px;
    border-left: 4px solid transparent;
  }

  .custom-context-menu ul li.enabled {
    color: rgba(0, 0, 0, 1);
  }

  .custom-context-menu ul li.enabled:hover {
    background: #eee;
    border-left: 4px solid #F44336;
    cursor: pointer;
  }

  .custom-context-menu ul li.disabled {
    color: rgba(0, 0, 0, 0.5);
  }

  .ccm-body {
    width: 200px;
    height: auto;
    margin: 25px;
    padding: 0;
    background: #ffffff;
    box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  }

  .seperator {
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #dedede;
  }
</style>

<div id="customContextMenu" class="custom-context-menu">
  <div class="ccm-body">
    <ul>
      <li id="elaborate_co" class="enabled">Elaborate   <font color="gray">(Ctrl+e)</font></li>
      <li id="summarize_co" class="enabled">Summarize   <font color="gray"></font></li>
      <li id="connect_co" class="disabled">Connect   <font color="gray"></font></li>
      {# <li class="seperator"></li> #}
      {# <li id="cut_co">Cut   <font color="gray">(Ctrl+x)</font></li> #}
      {# <li id="copy_co">Copy   <font color="gray">(Ctrl+c)</font></li> #}
      {# <li id="paste_co">Paste   <font color="gray">(Ctrl+v)</font></li> #}
    </ul>
  </div>
</div>
