{% load static %}
{# Quill CSS #}
<link href="{% static 'write/css/quill.snow.css' %}" rel="stylesheet" />
{# Write CSS #}
<link href="{% static 'write/css/workspace.css' %}" rel="stylesheet" />
{# Workspace #}
<div class="workspace container-fluid">
  <div class="row justify-content-around" style="margin: 0; padding: 0;">
    {# Suggestions #}
    <div class="col-md-3 align-self-center" style="margin: 0; padding: 10px;">
      <div class="container" style="margin:0; padding: 0;">
        <div class="suggestion-tower" id="suggestion-tower">
          <div id="suggestion_header" class="suggestion-header">
            <div class="row justify-content-between" style="height: 100%; width: 100%; padding: 0; margin: 0;">
              {# Rework Button #}
              <div id="rework_button" class="rework-button shadowy-0" data-toggle="tooltip" data-placement="top" title="Rework"><i class="fas fa-redo" style="font-size: 19px;"></i></div>
              {# end Rework Button #}
            </div>
          </div>
          <div class="row justify-content-center" style="margin: 0; padding: 0;">
            <div class="col-12" id="suggestion_output_field" contenteditable="true" spellcheck="true">
              <textarea readonly class="big-placeholder" cols="35" rows="30" style="background-color: rgba(0,0,0,0); padding: 20px;" placeholder="&#10;Here you have the creation card. This is where all the creations that the AI writes will go."></textarea>
            </div>
            <div class="col-12 suggestion-footer">
              {# Continue Button #}
              <div id="continue_button" class="continue-button shadowy-0 center" data-toggle="tooltip" data-placement="top" title="Continue">
                <i class="fas fa-angle-double-down" style="font-size: 24px;"></i>
              </div>
              {# end Continue Button #}
            </div>
          </div>
        </div>
      </div>
    </div>
    {# Writing #}
    <div class="col-md-6 align-self-center" spellcheck='true'>
      <div class="toolbar" id="toolbar"></div>
      <div class="editor" id="editor" spellcheck='true' data-gramm="false">
      </div>
    </div>
    {# Snippets #}
    <div class="col-md-3 align-self-center" style="margin: 0; padding: 10px;">
      <div id="snippet_tower" class="snippet-tower">
        <textarea readonly id="snippet_tower_placeholder" class="big-placeholder" cols="35" rows="30" style="margin: 0px; background-color: rgba(0,0,0,0); padding: 20px;" placeholder="&#10;&#10;This panel is a notepad to save valuable snippets from what you and the AI write."></textarea>
      </div>
    </div>
  </div>
</div>
<div id="continue_button"></div>
<div id="rework_button"></div>
{% include "write/includes/custom_context_menu.html"%}
{# javascript #}
{# Important Environment Variables From Django #}
<script>
var username = "{{ request.user.username }}";
var token = "{{ token }}";
</script>
{# Include the Quill library #}
<script src="{% static 'write/js/quill.js' %}"></script>
<script>
var elaboration_button = "<img src='{% static 'write/images/editor_icons/elaboration.svg'%}' id='elaborate_button' data-toggle='tooltip' data-placement='top' title='Elaborate (Ctr+e)' alt='Elaboration Button' style='height: 37.5px; width: 37.5px; margin-right: -15px; margin-left: 3px;'>";

var summarization_button = "<img src='{% static 'write/images/editor_icons/summarization.svg'%}' id='summarize_button' data-toggle='tooltip' data-placement='top' title='Summarize' alt='Summarization Button' style='height: 37.5px; width: 37.5px; margin-right: -15px;'>";

var connection_button = "<img src='{% static 'write/images/editor_icons/connection.svg'%}' id='articulate_button' data-toggle='tooltip' data-placement='top' title='Connect coming soon!' alt='Connection Button' style='height: 37.5px; width: 37.5px;'>";

var elaboration_button_image = "{% static 'write/images/editor_icons/elaboration.svg'%}";
var summarization_button_image = "{% static 'write/images/editor_icons/summarization.svg'%}";
var connection_button_image = "{% static 'write/images/editor_icons/connection.svg'%}";

var elaboration_hover_image = "{% static 'write/images/editor_icons/elaboration_hover.svg'%}";
var summarization_hover_image = "{% static 'write/images/editor_icons/summarization_hover.svg'%}";
var connection_hover_image = "{% static 'write/images/editor_icons/connection_hover.svg'%}";


var elaboration_clicked_image = "{% static 'write/images/editor_icons/elaboration_clicked.svg'%}";
var summarization_clicked_image = "{% static 'write/images/editor_icons/summarization_clicked.svg'%}";
var connection_clicked_image = "{% static 'write/images/editor_icons/connection_clicked.svg'%}";

var elaboration_disabled_image = "{% static 'write/images/editor_icons/elaboration_disabled.svg'%}";
var summarization_disabled_image = "{% static 'write/images/editor_icons/summarization_disabled.svg'%}";
var connection_disabled_image = "{% static 'write/images/editor_icons/connection_disabled.svg'%}";
</script>
{# Custom JS #}
<script src="{% static 'write/js/write.js' %}"></script>
