{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% load widget_tweaks %}
{% block content %}
{# style="background-image: url({% static 'main/images/backgrounds/orangenyc.jpg' %}); background-size: cover; background-position: top center;" #}

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280orangecity.jpg'%}), url({% static 'main/images/backgrounds/720orangecity.jpg'%}), url({% static 'main/images/backgrounds/480orangecity.jpg'%})">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-9 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
              <div class="card-header card-header-warning text-center shadowy-warning-0">
                <h3 class="card-title" style="margin-bottom: 10px;">Password Change</h3>
              </div>
              {# <p class="description text-center">or be old school:</p> #}
              <div class="card-body">
                {% csrf_token %}
                {# {{ form.non_field_errors }} #}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input name="old_password" class="form-control" style="margin-top: 15px;" placeholder="Old password..." type="password" id="id_old_password" required="true">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input name="new_password1" class="form-control" placeholder="New password..." type="password" id="id_new_password1" required="true">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">replay</i>
                    </span>
                  </div>
                  <input name="new_password2" class="form-control" placeholder="Confirm password..." type="password" id="id_new_password2" required="true">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-raised btn-lg btn-warning shadowy-warning-1" id="box-shadowy-0" style="margin:50px auto 25px auto"><strong>Update</strong></button>
              </div>
            </form>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock content %}
