{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280orangecity.jpg'%}), url({% static 'main/images/backgrounds/720orangecity.jpg'%}), url({% static 'main/images/backgrounds/480orangecity.jpg'%})">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
              <div class="card-header card-header-warning text-center shadowy-warning-0">
                <h3 class="card-title" style="margin-bottom: 10px;">Password Change</h3>
              </div>
              {# <p class="description text-center">or be old school:</p> #}
              <div class="card-body" style="padding: 0;">
                <div class="message-card-text" style="font-size: 24px; padding: 25px; margin: 50px 0 25px 0;">
                  <font style="font-weight: 600;">We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>You should receive them shortly.</font><br><br>
                  If you don't receive an email, please make sure you've entered the address you registered with,
                  and check your spam folder.</font>
                </div>
              </div>
              <div class="text-center" style="margin: 25px 0 50px 0;">
                <a href="/" class="btn btn-warning btn-raised btn-lg shadowy-warning-1" id="box-shadowy-0"><strong>Home</strong></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock content %}
