
{# Prerequisites #}
{% load static %}
{# Demo CSS #}
<link href="{% static 'main/css/demo.css' %}" rel="stylesheet" />
{# Demo #}
{# Descriptions #}
<div class="col-md-3 col-lg-2 align-self-center">
  <div class="container">
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 27px;">
          Bitcoin
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 27px;">
          Surveillance
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 15px;">
          Nuclear Energy
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 25px;">
          Pandemic
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 25px;">
          Space
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 0px;">
        <div class="demo-descriptor" style="padding-top: 5px;">
          Create<br>Your<br>Own
        </div>
      </div>
    </div>
  </div>
</div>
{# Cartridges #}
<div class="col-md-2 align-self-center" style="padding: 0;">
  <div class="container">
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge0"><i class="fab fa-btc" style="font-size: 28px;"></i></button>
    </div>
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge1"><i class="far fa-eye" style="font-size: 28px;"></i></button>
    </div>
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge2"><i class="fa fa-radiation-alt" style="font-size: 32px;"></i></button>
    </div>
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge3"><i class="fas fa-biohazard" style="font-size: 30px;"></i></button>
    </div>
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge4"><i class="fas fa-rocket" style="font-size: 28px;"></i></button>
    </div>
    <div class="row justify-content-center">
      <button class="cartridge" id="cartridge5"><i class="fas fa-user-edit" style="font-size: 28px;"></i></button>
    </div>
  </div>
</div>
{# Output Box #}
<div class="col-md-7 align-self-center">
  <div id="demo_header_blinker" class="container demo-header" style="margin: 0; padding: 0px; height: 75px; width: 100%;">
    <div class="row" style="padding: 0; margin: 0;">
      {# Blinker #}
      <div class="blinker-box" align="center" style="margin: 17.5px 0 0 25px; padding: 0;">
          <div class="blinker"></div>
      </div>
      {# end Blinker#}
    </div>
  </div>
  <div id="demo_header_rework" class="container demo-header hidden" style="margin: 0; padding: 0px; height: 75px; width: 100%;">
    <div class="row justify-content-end" style="padding: 0; margin: 0;">
      {# Rework Button #}
          <div id="rework_button" class="rework-button" style="margin-top: 25px; margin-right: 30px;"><i class="fas fa-redo"></i></div>
      {# end Rework Button #}
    </div>
  </div>
  <div readonly style="text-align: justify; text-justify: inter-word; margin: -75px 0 0 0; background-color: white; padding: 35px; height: 777px; width: 100%; overflow-y: scroll;" id="demo-output-field">
    <div class="alt-placeholder" style="margin: 0px; padding: 0px 50px; background-color: rgba(0,0,0,0);">
      <p class="title"><font style="font-size: 48px;">
        <br><br>What should<br>we write about?
      </font></p>
      <p class="description"><font style="font-size: 20px;"><br>To see what Emberlight can create, <strong>select a writing prompt from the left.</strong><br><br>For a different angle on the same topic, <strong>click the refresh icon</strong> that appears in the upper right.<br><br>Everything that is written by the AI is unique ― even when given the same starting point.</font></p>
    </div>
  </div>
</div>
