  <footer class="footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          {# <li> #}
            {# <a href="https://www.torchlightintel.com"> #}
              {# Torchlight Intelligence #}
            {# </a> #}
          {# </li> #}
          <li>
            <a href="/contact">
              Contact Us
            </a>
          </li>
          <li>
            <a href="/terms-of-service">
              Terms of Use
            </a>
          </li>
          <li>
            <a href="/privacy-policy">
              Privacy Policy
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;2020 - Made with <i class="material-icons">favorite</i> by your friends at
        <a class="disable" href="https://www.torchlightintel.com" target="_blank">Torchlight Intelligence</a>.
      </div>
    </div>
  </footer>
