{# Prerequisites #}
{% load static %}
{# Demo CSS #}
<link href="{% static 'main/css/mobile-demo.css' %}" rel="stylesheet" />
{# Demo #}
{# Descriptors #}
<div class="row justify-content-center" style="width: max; padding: 0; background-image: none;)">
  <div class="col">
    <div class="row justify-content-around" style="padding-top: 10px;">
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 20px;">
          Bitcoin
        </div>
      </div>
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 20px;">
          Surveillance
        </div>
      </div>
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 12px;">
          Nuclear<br>Energy
        </div>
      </div>
    </div>
    {# Cartridges #}
    <div class="row justify-content-around" style="padding-bottom: 15px;">
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge top" id="m_cartridge0"><i class="fab fa-btc" style="font-size: 28px;"></i></button>
      </div>
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge top" id="m_cartridge1"><i class="far fa-eye" style="font-size: 28px;"></i></button>
      </div>
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge top" id="m_cartridge2"><i class="fa fa-radiation-alt" style="font-size: 32px;"></i></button>
      </div>
    </div>
    {# Output Box #}
    <div class="row justify-content-center" style="padding: 0; margin: 0;">
      <div id="m_demo_header_blinker" class="container m_demo-header" style="margin: 0; padding: 0px; height: 75px; width: 100%;">
        <div class="row" style="padding: 0; margin: 0;">
          {# Blinker #}
          <div class="row" style="margin: 0; padding: 0;">
            <div class="col-2" align="left" style="margin: 15px 0 0 30px; padding: 0;">
              <div class="m_blinker"></div>
            </div>
          </div>
          {# end Blinker#}
        </div>
      </div>
      <div id="m_demo_header_rework" class="container m_demo-header hidden" style="margin: 0; padding: 0px; height: 75px; width: 100%;">
        <div class="row justify-content-end" style="padding: 0; margin: 0;">
          {# Rework Button #}
          <div id="m_rework_button" class="m_rework-button" style="margin-top: 15px; margin-right: 18px;"><i class="fas fa-redo"></i></div>
          {# end Rework Button #}
        </div>
      </div>
      <div class="m_demo-output-field" readonly id="m_demo-output-field" style="margin: -75px 0 0 0;">
        <div class="row justify-content-center" style="padding: 0; margin: 0;">
          <div class="m_alt-placeholder" style="margin: 0px; padding: 0px 25px; background-color: rgba(0,0,0,0);">
            <p class="title">
              <font style="font-size: 32px;">
                What should<br>we write about?
              </font>
            </p>
            <p class="description">
              <font style="font-size: 16px;"><br>To see what Emberlight can create, <strong>select a writing prompt from the top or bottom.</strong><br><br>For a different angle on the same topic, <strong>click the refresh icon</strong> that appears in the upper right.<br><br>Everything that is written by the AI is unique ― even when given the same starting point.</font>
            </p>
          </div>
        </div>
      </div>
    </div>
    {# Cartridges #}
    <div class="row justify-content-center" style="padding-top: 15px;">
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge bottom" id="m_cartridge3"><i class="fas fa-biohazard" style="font-size: 30px;"></i></button>
      </div>
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge bottom" id="m_cartridge4"><i class="fas fa-rocket" style="font-size: 28px; margin-top: 5px;"></i></button>
      </div>
      <div class="col-4" style="padding: 0;">
        <button class="m_cartridge bottom" id="m_cartridge5"><i class="fas fa-user-edit" style="font-size: 28px; margin-left: 10px;"></i></button>
      </div>
    </div>
    {# Descriptors #}
    <div class="row justify-content-center" style=" padding-bottom: 10px;">
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 15px;">
          Pandemic
        </div>
      </div>
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 15px;">
          Space
        </div>
      </div>
      <div class="col-4" style="padding: 0px;">
        <div class="m_demo-descriptor" style="padding-top: 7.5px;">
          Create<br>Your Own
        </div>
      </div>
    </div>
  </div>
</div>
