<!doctype html>
<html lang="en">
{% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158713271-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158713271-1');
</script>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <html lang="en">
  {{ writeform.media }}
  {# Favicon #}
  <link rel="icon" sizes="any" type="image/png" href="{% static 'main/images/favicons/logo.png' %}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Material and Bootstrap CSS -->
  <link href="{% static 'main/css/material-kit.css' %}" rel="stylesheet" />
  {# Fonts and Icons #}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <script src="https://kit.fontawesome.com/7df43a0e36.js" crossorigin="anonymous"></script>
  <!-- Custom CSS -->
  <link href="{% static 'main/css/main.css' %}" rel="stylesheet" />
  <link href="{% static 'main/css/toast.css' %}" rel="stylesheet" />
  <title>{% block title %} Emberlight {% endblock %}</title>
</head>

<body>
  {# Nav Bar #}
  <div class="row">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="/">
            <img class="logo rounded-circle img-fluid d-inline-block align-top" src="{% static 'main/images/favicons/logo.png' %}" width="30" height="30" alt="">
            <span class="logo-text">&nbsp;&nbsp;Emberlight</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/write/" data-original-title="Get Writing">
                <i class="material-icons">create</i> Write
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/pricing/" data-original-title="Updates">
                <i class="material-icons">add_shopping_cart</i> Pricing
              </a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/account/login/" data-original-title="Login">
                <i class="material-icons" style="font-size: 22px">person_pin</i> Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/account/register/" data-original-title="Sign Up">
                <i class="material-icons">content_paste</i> Sign Up
              </a>
            </li>
            {% elif user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/account/" data-original-title="Manage Account and Subsciption">
                <i class="material-icons">face</i> Account
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/updates/" data-original-title="Updates">
                <i class="material-icons">announcement</i> Updates
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/contact/" data-original-title="Contact">
                <i class="material-icons">contact_mail</i> Contact
              </a>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">share</i> Social
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="https://twitter.com/torchlightintel" class="dropdown-item">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/TorchlightIntelligence" class="dropdown-item">
                  <i class="fab fa-facebook-square"></i>
                </a>
                {# <a href="" class="dropdown-item"> #}
                  {# <i class="fab fa-instagram"></i> #}
                  {# </a> #}
              </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" data-placement="bottom" href="/account/logout/" data-original-title="Logout">
                <i class="material-icons">exit_to_app</i> Logout
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- <h1>{{ title }}</h1> -->
  {% block content %}
  {% endblock content %}
  <!-- Core JavaScript -->
  {# showing messages #}
  {% if messages %}
  {% for message in messages %}
  <script type="text/javascript">
  document.addEventListener('toast_initiated', () => {
    Toast.trigger('{{message}}', '{{message.level_tag}}');
  });
  </script>
  {% endfor %}
  {% endif %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" type="text/javascript"></script>
  <script src="{% static 'main/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/core/material-kit.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/plugins/moment.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/core/toast.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/core/main.js' %}" type="text/javascript"></script>
</body>

</html>
