<!doctype html>
{% extends "main/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<html lang="en">
<style type="text/css">
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
<script src="https://js.stripe.com/v3/"></script>
<!-- Checkout Info -->

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280concert.jpg'%}), url({% static 'main/images/backgrounds/720concert.jpg'%}), url({% static 'main/images/backgrounds/480concert.jpg'%});">
    <div class="container-fluid">
      {# spacer #}
      <div class="row d-none d-md-block d-lg-none" style="height: 150px;"></div>
      {# end spacer #}
      <div class="row justify-content-center" style="margin-top: 100px;">
        {# Cart Deck #}
        <div class="col-md-6 col-lg-6 col-xl-3 align-self-center" style="padding: 0; margin: 15px;">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="card" style="margin: auto; margin-top: 0; padding: 0; min-height: 450px;">
                {# Desktop Cart Body #}
                <div class="card-body text-center d-none d-md-block" style="font-size: 24px;">
                  <div class="row justify-content-center" style="margin: 0; padding: 0;">
                  <i style="color: #3C4858; font-size: 86px; margin: 25px 25px 10px 14px;" class="fas fa-shopping-cart"></i>
                  </div>
                  {# <h3 class="card-title" style="margin: 0; font-size: 42px; font-weight: 600;">Cart</h3> #}
                  <div id="cart-body" style="min-height: 200px; margin: 25px 25px 0px 25px; text-align: left;">
                    <span class="cart-text"><i class="fas fa-notes-medical" style="font-size: 26px; margin-right: 22.5px;"></i>Plan: {{plan_name}}</span>
                    <br>
                    <span class="cart-text"><i class="fas fa-tag" style="margin-right: 18px;"></i>Subscription Price: ${{total_price}}</span>
                    <br>
                    <span class="cart-text"><i class="far fa-calendar-alt" style="margin-right: 22.5px;"></i>Payment Period: {{payment_period}}</span>
                    <br>
                    <span class="cart-text"><i class="material-icons" style="margin-right: 20px;">info</i>1 month free trial included *</span>
                  </div>
                  {# <div style="font-size: 72px; font-weight: 400; color: #3C4858; margin-top: 25px;"> #}
                    {# <i class="fas fa-shopping-cart"></i> #}
                  {# </div> #}
                  <div class="text-center" style="margin: 0px 0 10px 0;">
                    <span class="cart-text" style="font-size: 14px;">* payment begins only if subscription is allowed to auto-renew after free trial period has elapsed.</span>
                  </div>
                </div>
                {# End Desktop Cart Body #}
                {# Mobile Cart Body #}
                <div class="card-body text-center d-md-none" style="font-size: 24px;">
                  <div class="row justify-content-center" style="margin: 0; padding: 0;">
                  <i style="color: #3C4858; font-size: 86px; margin: 25px 25px 10px 14px;" class="fas fa-shopping-cart"></i>
                  </div>
                  {# <h3 class="card-title" style="margin: 0; font-size: 42px; font-weight: 600;">Cart</h3> #}
                  <div id="cart-body" style="min-height: 200px; margin: 25px 0px 0px 10px; text-align: left;">
                    <span class="cart-text" style="font-size: 20px;"><i class="fas fa-notes-medical" style="font-size: 30px; margin-right: 25px;"></i>Plan: </span><span class="cart-text" style="font-size: 20px; margin-left: 47px;">{{plan_name}}</span>
                    <br>
                    <span class="cart-text" style="font-size: 20px;"><i class="fas fa-tag" style="font-size: 26px; margin-right: 21px;"></i>Subscription Price: </span><span class="cart-text" style="font-size: 20px; margin-left: 46.5px;">${{total_price}}</span>
                    <br>
                    <span class="cart-text" style="font-size: 20px;"><i class="far fa-calendar-alt" style="font-size: 26px; margin-right: 25px;"></i>Payment Period: </span><span class="cart-text" style="font-size: 20px; margin-left: 47.5px;">{{payment_period}}</span>
                    <br>
                    <span class="cart-text" style="font-size: 20px;"><i class="material-icons" style="font-size: 30px; margin-right: 18px;">info</i>1 month free trial</span><span class="cart-text" style="font-size: 20px; margin-left: 49.5px;">included *</span>
                  </div>
                  {# <div style="font-size: 72px; font-weight: 400; color: #3C4858; margin-top: 25px;"> #}
                    {# <i class="fas fa-shopping-cart"></i> #}
                  {# </div> #}
                  <div class="text-center" style="margin: 15px 0 10px 0;">
                    <span class="cart-text" style="font-size: 14px;">* payment begins only if subscription is allowed to auto-renew after free trial period has elapsed.</span>
                  </div>
                </div>
                {# End Mobile Cart Body #}
              </div>
            </div>
          </div>
        </div>
        {# End Cart Deck #}
        {# spacer #}
        <div class="col-12 d-lg-none" style="height: 25px;"></div>
        {# end spacer #}
        {# Card Information #}
        <div class="col-md-12 col-lg-12 col-xl-3" style="padding: 0; margin: 0;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 text-center" style="margin: 0; padding: 0;">
                <div class="row justify-content-center" style="margin: 0; padding: 0;">
                  <div class="col" style="min-width: 250px; max-width: 500px; height: auto;">
                    <div class="card" style="height: 450px;">
                      {# Large Header #}
                      <div class="card-header card-header-ember text-center shadowy-0 d-none d-lg-block">
                        <h3 class="card-title" style="margin-bottom: 10px;">Stop writing the hard way.</h3>
                      </div>
                      {# Small Header #}
                      <div class="card-header card-header-ember text-center shadowy-0 d-lg-none" style="padding: 15px;">
                        <h3 class="card-title" style="margin-bottom: 10px;">Stop writing the hard way.</h3>
                      </div>
                      <div class="card-body text-center" style="">
                        <form class="form" action="{% url 'main:payment' %}" method="post" id="payment-form">
                          <div class="container-fluid" style="margin: 0; padding: 0;">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <input type="hidden" name="plan" value={{plan_name}}>
                            <h3 class="card-title pricing-card-title">Free Trial: $0</h3>
                            <div class="d-none d-lg-block">
                              <br>
                            </div>
                            <!-- Stripe - getting credit card token -->
                            <div class="">
                              <label for="card-element">
                                credit or debit card:
                              </label><br>
                              <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                              </div>
                              <!-- Used to display form errors. -->
                              <div id="card-errors" role="alert"></div>
                            </div>
                            <br>
                            <!-- Gathering other form data -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">info</i>
                                </span>
                              </div>
                              {% render_field form.couponcode class="form-control" placeholder="Enter Coupon Code Here..." %}
                            </div>
                            <div class="row justify-content-center" style="margin: 0; padding: 0;">
                              {# Large Button #}
                              <button class="btn btn-raised btn-lg btn-ember shadowy-0 d-none d-lg-block" style="margin: 50px;">Submit Payment</button>
                              {# Small Button #}
                              <button class="btn btn-raised btn-lg btn-ember shadowy-0 d-lg-none" style="margin: 30px;">Make Purchase</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# End Card Information #}
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block">
    {% include "main/includes/footer.html" %}
  </div>
</body>
<script>
// set plan selection in payment form
document.getElementsByName('plan')[0].value = "{{plan_name}}";
</script>
<script type="text/javascript">
// Create a Stripe client.
var stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Roboto", sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', { style: style });

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
{% endblock content %}
