{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body>
  <div class="backsplash" style="position: relative; background-image: url({% static 'main/images/backgrounds/offwhite.jpeg'%})">
    <div class="container-fluid">
      <div class="row" style="height: 12.5vh; background: linear-gradient(rgba(0,0,0,0.5), 20%, rgba(0,0,0,0.1), 75%, rgba(0,0,0,0));"></div>
      <div class="row justify-content-center">
        <div class="section section-contacts" style="height: 100%;">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Questions? Comments? Cares? Concerns? Queries? Conundrums?</h2>
            <h4 class="text-center description">Email us about them</h4>
            <form class="contact-form" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input id="name" name="name" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input id="email" name="email" type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea id="message" name="message" type="text" class="form-control" rows="4"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button type="submit" class="btn btn-ember btn-raised shadowy-0">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock %}
