{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280orangecity.jpg'%}), url({% static 'main/images/backgrounds/720orangecity.jpg'%}), url({% static 'main/images/backgrounds/480orangecity.jpg'%})">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-9 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
              <div class="card-header card-header-ember text-center shadowy-0">
                <h3 class="card-title" style="margin-bottom: 10px;">Thank you.</h3>
              </div>
              {# <p class="description text-center">or be old school:</p> #}
              <div class="card-body" style="padding: 0;">
                <div class="message-card-text" style="font-size: 22px; margin: 50px 0 0 0;">
                  <font style="font-weight: 600;">
                    Your message has been received. <br><br>We'll get back to you as <br>soon as we can.</font>
                </div>
              </div>
              <div class="text-center" style="margin: 50px 0 0 0;">
                <p class="message-card-text">Click here to return to the homepage.</p>
                <a href="/" class="btn btn-ember btn-raised btn-lg shadowy-0" id="box-shadowy-0"><strong>Continue</strong></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock content %}
