<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="page-header" data-slow-parallax="true" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280brightcityorange.jpg'%}), url({% static 'main/images/backgrounds/720brightcityorange.jpg'%}), url({% static 'main/images/backgrounds/480brightcityorange.jpg'%})">
      <div class="container-fluid" style="margin-top: -100px;">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5 align-self-center" style="margin: 0; padding: 0;">
            <img src="{% static 'main/images/favicons/logo.png' %}" class="landingimage-mobile d-md-none">
            {# Promo Video #}
            <div class="d-none d-lg-block" style="text-align: center;">
              <iframe width="720" height="405" style="margin: 0; padding: 0; max-width: 100%;" src="https://www.youtube.com/embed/Iwevy1aiHsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="d-none d-md-block d-lg-none" style="text-align: center;">
              <iframe width="380" height="213" style="margin: 10px; padding: 0;" src="https://www.youtube.com/embed/Iwevy1aiHsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {# End Promo Video #}
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="d-none d-md-block">
              <div style="max-width: 500px;">
                <h1 class="title text-center text-shadowy-0">Writing Essays?</h1>
                <h2 class="text-center text-shadowy-1" style="color: white;font-weight: 400; margin-top: -15px; margin-bottom: 30px;"> Not for long.</h2>
                <div>
                  <p class="text-center text-shadowy-3" style="color: white; font-size: 18px; font-weight: 400; margin-bottom: 25px;">Emberlight brings you cutting-edge artificial intelligence to help you write faster and more creatively than you ever thought possible.<br><br><strong>Welcome to the future.</strong></p>
                  <br>
                  <div class="text-center">
                    <a href="/write/" target="_blank" class="btn btn-flame btn-raised btn-lg shadowy-1" id="box-shadowy-1"><i class="material-icons" style="font-weight: 800;">sort</i>
                      <font style="font-weight: 800;">WRITE</font>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-3 d-md-none">
              <div>
                <h2 class="title text-center text-shadowy-1">Emberlight</h2>
                <br>
                <div class="text-center">
                  <a href="/write/" target="_blank" class="btn btn-flame btn-raised btn-lg  shadowy-1" id="box-shadowy-1"><i class="material-icons" style="font-weight: 800;">sort</i><font style="font-weight: 800;"> WRITE</font></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised" data-fast-parallax="true">
      <div class="container">
        {# "Check It" line #}
        {# <div class="row d-none d-lg-block" style="height: 50px; margin: 0 0 -50px 0; padding: 0;"> #}
          {# <h2 style="margin: 0; padding: 25px 0 0 95px;">Check it out.</h> #}
            {# </div> #}
        {# End "Check It" line #}
        {# Mobile blinker #}
        <div class="d-md-none">
          <div class="row justify-content-center">
            <div class="col-md-1" align="center" style="padding: 0;">
              <div class="blinker"></div>
            </div>
          </div>
        </div>
        {# end Mobile Blinker #}
        <div class="section text-center">
          {# Mobile Blurb #}
          <div class="row d-md-none" style="margin-top: -75px;">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Writing Essays?</h2>
              <h3 class="text-center">Not for long.</h3>
              <h5 class="description">Emberlight brings you cutting-edge artificial intelligence to help you write faster and more creatively than you ever thought possible<br><br>Welcome to the future.</h5>
              <br>
            </div>
          </div>
          {# end Mobile Blurb #}
          {# Begin Demo #}
          <div class="d-none d-md-block">
            <div class="row justify-content-around" style="margin-top: -60px; margin-bottom: 100px;">
              {% include "main/includes/demo.html" %}
            </div>
          </div>
          {# End Demo #}
          {# Begin Mobile Demo #}
          <div class="d-md-none" style="margin-top: 15px; padding: 0;">
            {% include "main/includes/mobile-demo.html" %}
          </div>
          {# END Mobile Demo #}
          <div class="row" style="padding: 0;">
            <div class="col-md-11 col-lg-8 col-xl-7 ml-auto mr-auto">
              <div class="d-none d-md-block">
                <h1 class="title">"How is this possible?"</h1>
              </div>
              <div class="d-md-none">
                <h2 class="title">How is <br>this possible?</h2>
              </div>
              <h3>Emberlight is no ordinary computer program.</h3>
              <h5 class="description" style="margin: 0; width: 100%;"> Emberlight's <strong>artificial-intelligence</strong> reads what you write, <strong>comprehends</strong> it, and then <strong>continues writing</strong> based on its understanding of the ideas it finds in your work. Our AI has learned from hundreds of millions of sources and now it can use what it's learned to serve you. <br><br><strong>Need an essay written?</strong> Enter a few sentences of your introduction and have an entire first draft written <strong>in seconds</strong>.<br><br><strong>ENGL 419 doesn't stand a chance.</strong></h5>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">chat</i>
                  </div>
                  <h4 class="info-title">Endless Text</h4>
                  <h5 class="description">While other writing companies will enforce arbitrary word limits and charge hundreds of dollars per month, with Emberlight there are no such caveats. <strong>You are free to request as many creations as you like, whenever you want them.</strong></h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title">Uniqueness</h4>
                  <h5 class="description">Every creation is <strong>guaranteed to be unique</strong>. No part of anything written by Emberlight AI is copied from any existing works. In other words: this technology can match any standard of originality that a human being could be reasonably expected to meet.</h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Privacy and Security</h4>
                  <h5 class="description">We sell AI ― <strong>not your information</strong>. We do not collect data (or metadata) on anyone using our products without their express permission, and take active security measures to prevent others from doing so.</h5>
                </div>
              </div>
            </div>
            <div class="container" style="margin: 100px 0 100px 0; padding: 0;">
              <div class="row d-none d-md-block" style="margin: 75px 0; padding: 0;">
                <div class="col-12" style="text-align: center; margin: 0; padding: 0;">
                  <h1 class="title" style="margin: 0;">Features</h1>
                </div>
              </div>
              <div class="row justify-content-center d-md-none" style="margin: 0; padding: 0;">
                <div class="col-12" style="text-align: center; margin: 0; padding: 0;">
                  <h1 class="title" style="margin: 0; padding: 0;">Features</h1>
                </div>
              </div>
              <div class="row" style="margin: 50px 0;">
                <div class="col-md-4 ml-auto mr-auto align-self-center" style="padding: 0; height: 100%;">
                  <img src="{% static 'write/images/editor_icons/elaboration_hover.svg' %}" width="200px" height="200px" class="img-fluid" alt="Thumbnail Image">
                </div>
                <div class="col-md-8 ml-auto mr-auto" style="padding: 0 25px; margin: 0; text-align: left;">
                  <h2 class="title" style="margin: 0;">Elaboration</h2>
                  <h4 style="margin: 0;">Now available!</h4>
                  <h5 class="description">Give Emberlight just 3 sentences of context and have paragraphs of high-quality material written in seconds. Tweak what the A.I. creates to better fit your writing goals and watch as it continues writing with your corrections in mind.</h5>
                </div>
              </div>
              <div class="row" style="margin: 50px 0;">
                <div class="col-md-4 ml-auto mr-auto align-self-center" style="padding: 0; height: 100%;">
                  <img src="{% static 'write/images/editor_icons/summarization_hover.svg' %}" width="200px" height="200px" class="img-fluid" alt="Thumbnail Image">
                </div>
                <div class="col-md-8 ml-auto mr-auto" style="padding: 0 25px; margin: 0; text-align: left;">
                  <h2 class="title" style="margin: 0;">Summarization</h2>
                  <h4 style="margin: 0;">Now available!</h4>
                  <h5 class="description">Create an automatic summarization of any large body of text. Never worry again about wrapping up your paper ― use this to create your conclusion paragraph.</h5>
                </div>
              </div>
              <div class="row" style="margin: 50px 0;">
                <div class="col-md-4 ml-auto mr-auto align-self-center" style="padding: 0; height: 100%;">
                  <img src="{% static 'write/images/editor_icons/connection.svg' %}" width="200px" height="200px" class="img-fluid" alt="Thumbnail Image">
                </div>
                <div class="col-md-8 ml-auto mr-auto" style="padding: 0 25px; margin: 0; text-align: left;">
                  <h2 class="title" style="margin: 0;">Connection</h2>
                  <h4 style="margin: 0;">Coming soon</h4>
                  <h5 class="description">Automatically forge a connection between any two pieces of writing. Select two sentences or paragraphs and have Emberlight fill the gap between them: moving smoothly from one idea to the next.</h5>
                </div>
              </div>
              <a href="/account/register/" class="btn btn-flame btn-raised btn-lg shadowy-1"><i class="material-icons" style="font-weight: 800;">sort</i>
                <font style="font-weight: 800;">Sign Up</font>
              </a>
            </div>
          </div>
          <div class="d-none d-md-block">
            <h1 class="title" style="margin-top: 75px;">Meet the Team</h1>
          </div>
          <div class="d-md-none">
            <h2 class="title" style="margin-top: 75px;">Meet the Team</h2>
          </div>
          <div class="team">
            <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-sm-6 col-md-8 ml-auto mr-auto">
                      <img src="{% static 'main/images/faces/quintenSTORM.jpeg' %}" width="200" height="200" class="img-raised rounded-circle img-fluid" alt="Thumbnail Image">
                    </div>
                    <h4 class="card-title" style="margin-top: 50px;">Quinten Lisowe
                      <br>
                      <small class="card-description text-muted">Software Developer</small>
                    </h4>
                    <div class="card-body">
                      <h5 class="card-description">I have years of experience with AI, machine learning, and computer networking. Some notable projects of mine include digital modeling of self-driving cars and a power management system with IoT sensors integration.</h5>
                    </div>
                    {# <div class="card-footer justify-content-center"> #}
                      {# <a href="https://www.linkedin.com/in/quintenlisowe/" class="btn btn-link btn-just-icon"><i class="fab fa-linkedin"></i></a> #}
                      {# </div> #}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-sm-6 col-md-8 ml-auto mr-auto">
                      <img src="{% static 'main/images/faces/gabe2020.jpeg' %}" width="200" height="200" class="img-raised rounded-circle img-fluid" alt="Thumbnail Image">
                    </div>
                    <h4 class="card-title" style="margin-top: 50px;">Gabe M. LaFond
                      <br>
                      <small class="card-description text-muted">Physicist</small>
                    </h4>
                    <div class="card-body">
                      <h5 class="card-description">I studied physics at the UW-Madison and have been tinkering with neural networks for years. Now I do math and humbly tend to Torchlight's fields of ones and zeros. It is my mission with Torchlight to ensure that (In the clearly inevitable robot uprising) at least some of the bots still work for us. My friends say I need a vacation. I think I need to do more math.</h5>
                    </div>
                    {# <div class="card-footer justify-content-center"> #}
                      {# <a href="watch.closely.0@gmail.com" class="btn btn-link btn-just-icon"><i class="fas fa-envelope-open-text"></i></a> #}
                      {# <a href="REPLACE" class="btn btn-link btn-just-icon"><i class="fab fa-linkedin"></i></a> #}
                      {# </div> #}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-sm-6 col-md-8 ml-auto mr-auto">
                      <img src="{% static 'main/images/faces/jordancropped.jpg' %}" width="200" height="200" class="img-raised rounded-circle img-fluid" alt="Thumbnail Image">
                    </div>
                    <h4 class="card-title" style="margin-top: 50px;">Jordan Brull
                      <br>
                      <small class="card-description text-muted">Business Specialist</small>
                    </h4>
                    <div class="card-body">
                      <h5 class="card-description">I have years of experience managing a team of sales associates and customer service representatives. I have a history of implementing technology upgrades, cutting down on unnecessary expenses, and implementing better employee training methods to improve the efficiency of everything under my management. I make sure we beat our deadlines.</h5>
                    </div>
                    {# <div class="card-footer justify-content-center"> #}
                      {# <a href="mailto:jordantbrull@gmail.com" class="btn btn-link btn-just-icon"><i class="fas fa-envelope-open-text"></i></a> #}
                      {# </div> #}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Disclaimer</h2>
              <h5 class="description">The opinions and views expressed by the Emberlight AI are in no way representative of the opinions or views of Torchlight Intelligence or its members.</h5>
            </div>
          </div>
        </div>
        <div class="section section-contacts">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="d-none d-md-block">
                <h2 class="text-center title">Questions? Comments? Cares? Concerns? Queries? Conundrums?</h2>
              </div>
              <div class="d-md-none">
                <h3 class="text-center title">Questions? Comments? Cares? Concerns? Queries? Conundrums?</h3>
              </div>
              <h4 class="text-center description">Email us about them</h4>
              <form class="contact-form" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Your Name</label>
                      <input id="name" name="name" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Your Email</label>
                      <input id="email" name="email" type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                  <textarea id="message" name="message" type="text" class="form-control" rows="4"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto text-center">
                    <button type="submit" class="btn btn-flame btn-raised shadowy-0">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
</body>
{# JavaScript #}
<script src="{% static 'main/js/demo.js' %}"></script>
{# Tweaks with JavaScript #}
{# <script> #}
{# // shorten navbar color-on-scroll threshold // #}
{# document.getElementById("sectionsNav").setAttribute("color-on-scroll", "-1"); #}
{# </script> #}
{% endblock %}
