{% extends "main/base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
<p>This page is for company updates</p>

{% endblock %}
