<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="container-fluid">
    <div class="row" style="height: 12.5vh; background: linear-gradient(rgba(0,0,0,0.5), 20%, rgba(0,0,0,0.1), 75%, rgba(0,0,0,0));"></div>
    <div class="container">
      <p>
        <H2><strong>
            ﻿Press Information
          </strong></H2>
      </p>
      <p>
        <H4><strong>
            What is Emberlight?
          </strong></H4>
        <strong>Emberlight</strong> is an <strong>artificial intelligence</strong> designed to be a solution to the problem that is writing, meaning it will help speed up and enhance all forms of writing - from reports to bosses, to papers, to speeches, to beating writer’s block, and more. It was built by having Emberlight <strong>read</strong>, <strong>analyze</strong>, and <strong>comprehend</strong> the way people write so that it could mimic the way that people communicate. In doing so, it is able to <strong>create brand new content</strong> while simultaneously replicating the writing styles of various different people in its own unique blend that looks more human than human.
      </p>
      <br>
      <div class="text-center"> 
        <img src="{% static 'main/images/presskit/workflow.png' %}">
         
      </div>
       
      <p>
        <H4><strong>
            What makes Emberlight unique?
          </strong></H4>
        Using the same prompt, the AI will write something different each time you request an elaboration. In many cases, the outputs are perfect enough to be copied and pasted word-for-word as is for whatever you may need it for. We’ve found results work best when you take a paragraph or a few specific sentences from one output and then either press “elaborate” (the downward arrow) to expand upon a single concept, or <strong>rerun the same input</strong> to get a <strong>brand new idea every click of the button.</strong>
      </p>
       
      <p>
        <H4><strong>
            Quick Facts about Emberlight's A.I.
          </strong></H4>
        <ul>
          <li>It writes faster than most humans</li>
          <li>It writes something different every single time -- even when given the same prompt</li>
          <li>It can write something even when given no prompt</li>
          <li>It's so easy to use a child can do it</li>
          <li>It can be trained to fit specific purposes</li>
          <li>It can write about in almost any style</li>
          <li>It can write about almost anything</li>
        </ul>
      </p>
       
      <p>
        <H3><strong>
            Release Schedule
          </strong></H3>
      </p>
       
      <p>
        <H4><strong>
            Alpha
          </strong></H4>
        Emberlight is at a point where the core functionality of the service is up and running, but we’re working on payment options and quality control testing in addition to optimizing the efficiency to reduce costs to the users. The A.I. will enter the public Alpha within the upcoming weeks. We will distribute IndieGoGo rewards and permanent discount codes that will be linked to your account that will persist through the Alpha, Beta, and indefinitely into the full release.
      </p>
       
      <p>
        <H4><strong>
            Beta
          </strong></H4>
        We’re anticipating a Beta release during the fourth quarter of 2020.
      </p>
       
      <p>
        <H4><strong>
            Full Release
          </strong></H4>
        To be determined.
      </p>
       
      <p>
        <H4><strong>
            Features
          </strong></H4>
        As it stands, Emberlight’s Alpha release will feature an AI that can write about just about anything. It will have a text editor in the same vein as Mircrosoft Word and Google Docs along with a notepad to keep track of useful information. Features will be added throughout the Alpha, some of which include exporting files to Microsoft Word compatible files (“.docx”), directly emailing a finished text to someone from within the editor, and a variety of new specialist writing A.I.’s that can really flesh out the more detailed minutiae of the subject. Think of it like having a specialist write about a subject as opposed to someone who is just researching it for the first time. Examples of this might be a writing A.I. that specializes in fantasy, horror, patent drafting, ye olde english, professional emails, cover letters, or poetry.
        <br>
        <br>
        Some features may require outsourcing coding, or otherwise mass amounts of processing power that accrue additional costs. Such features will be available at an additional premium, but we are aiming for many upcoming features to be freely implemented to the user base at no additional cost. It should be noted, we will not forcibly add updates that increase the base cost. The features that have an additional cost will be optional. We're opting to offer the paid features to those who wish to use them, but are making certain we're not upcharging people who don't want or need access to those additional features. An example of a free feature is exporting to “.docx” or “.txt” file types, while an example of a paid feature would be training the A.I. on a new writing style. We're trying to use this model to ensure features are only paid for by those interested in using those features. For example, we aim to ensure students aren't paying for capabilities more suited for enterprise customers, and so enterprise customers aren't necessarily paying for features that only students would need.
        <br>
        <br>
        Beta and Full Release features are TBD and are dependent on market conditions and technical progress.
      </p>
      <br>
      <p>
        <H4><strong>
            Social Media
          </strong></H4>
        <ul>
          <li>
            <a href="https://www.facebook.com/TorchlightIntelligence">
              Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/torchlightintel">
              Twitter
            </a>
          </li>
        </ul>
      </p>
    </div>
  </div>
  {% include "main/includes/footer.html" %}
</body>
{% endblock %}
