<!doctype html>
{% extends "main/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<html lang="en">
<!-- Pricing Info -->
{# Custom CSS #}
<link href="{% static 'main/css/pricing.css' %}" rel="stylesheet" />

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280concert.jpg'%}), url({% static 'main/images/backgrounds/720concert.jpg'%}), url({% static 'main/images/backgrounds/480concert.jpg'%})">
    <div class="container-fluid">
      {# <div class="row d-md-none" style="height: 80px;"></div> #}
      <div class="row justify-content-center">
        {# Pricing Deck #}
        <div class="col-md-12 col-lg-12 col-xl-6 align-self-center" style="padding: 0; margin: 0;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="card-deck mb-12 text-center">
                {# Mobile Twirly Ribbon #}
                <div id="mobile_ribbon" class="d-md-none" style="margin: 2.25vh 0 -7vh 0;">
                  <div class="twirly-ribbon mobile" style="margin: 0; padding: 0;" data-splitting>FREE MONTH</div>
                </div>
                {# End Mobile Twirly Ribbon #}
                <div class="card mb-4 shadow-sm" style="max-width: 95vw; margin: 25px auto; z-index: 2;">
                  <div class="card-header-no-grad card-header-ember text-center">
                    <h3 class="my-0">Monthly</h3>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title d-none d-lg-block">$12.99 <small class="text-muted"><br>/ mo</small></h1>
                    <h2 class="card-title pricing-card-title d-lg-none" style="line-height: 75%;">$12.99 <small class="text-muted"><br>/ mo</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li style="color: #FE4E00;"><strong>+1 month free trial</strong></li>
                      <li><strong>•</strong> Unlimited number of creations</li>
                      <li><strong>•</strong> Write your own prompts</li>
                      <li><strong>•</strong> Monthly subscription</li>
                    </ul>
                    <a href="/checkout/?sub_name=Monthly&ref={{referral_code}}" class="btn btn-raised btn-lg btn-ember shadowy-0" style="margin-top: -5px; font-weight: 600;" id="Monthly" value="Monthly">Select</a>
                  </div>
                </div>
                <div style="width: 50px; height: 0;"></div>
                <div class="card mb-4 shadow-sm" style="max-width: 95vw; margin: 25px auto;">
                  <div class="card-header-no-grad card-header-ember text-center">
                    <h3 class="my-0">Biyearly</h3>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title d-none d-lg-block">$10.99 <small class="text-muted"><br>/ mo</small></h1>
                    <h2 class="card-title pricing-card-title d-lg-none" style="line-height: 75%;">$10.99 <small class="text-muted"><br>/ mo</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li style="color: #FE4E00;"><strong>+1 month free trial</strong></li>
                      <li><strong>•</strong> Unlimited number of creations</li>
                      <li><strong>•</strong> Write your own prompts</li>
                      <li><strong>•</strong> $67 for 6 months</li>
                    </ul>
                    <a href="/checkout/?sub_name=Biyearly&ref={{referral_code}}" class="btn btn-raised btn-lg btn-ember shadowy-0" style="margin-top: -5px; font-weight: 600;" id="Biyearly" value="Biyearly">Select</a>
                  </div>
                </div>
                <div style="width: 50px; height: 0;"></div>
                <div class="card mb-4 shadow-sm" style="max-width: 95vw; margin: 25px auto;">
                  <div class="card-header card-header-ember text-center">
                    <h3 class="my-0">Yearly</h3>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title d-none d-lg-block">$8.99 <small class="text-muted"><br>/ mo</small></h1>
                    <h2 class="card-title pricing-card-title d-lg-none" style="line-height: 75%;">$8.99 <small class="text-muted"><br>/ mo</small></h2>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li style="color: #FE4E00;"><strong>+1 month free trial</strong></li>
                      <li><strong>•</strong> Unlimited number of creations</li>
                      <li><strong>•</strong> Write your own prompts</li>
                      <li><strong>•</strong> $108 a year</li>
                    </ul>
                    <a href="/checkout/?sub_name=Yearly&ref={{referral_code}}" class="btn btn-raised btn-lg btn-ember shadowy-0" style="margin-top: -5px; font-weight: 600;" id="Yearly" value="Yearly">Select</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# End Pricing Deck #}
        {# Ribbon Field #}
        <div class="col-lg-12 col-xl-4 d-none d-lg-block" style="padding: 0; margin: 0;">
          <div class="container-fluid">
            <div class="row justify-content-center">
              {# Twirly Ribbon #}
              <div class="twirly-ribbon desktop" style="margin: 75px 0 75px 0; padding: 0;" data-splitting>ONE MONTH FREE</div>
              {# End Twirly Ribbon #}
            </div>
          </div>
        </div>
        {# End Ribbon Field #}
      </div>
    </div>
  </div>
  <div class="d-none d-md-block">
    {% include "main/includes/footer.html" %}
  </div>
  {# splitting #}
  <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
  {# end splitting #}
  <script src="{% static 'main/js/pricing.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
  // shorten navbar color-on-scroll threshold when in mobile mode//
  var mobile_ribbon = document.getElementById("mobile_ribbon");
  var display_status = getComputedStyle(mobile_ribbon, null).display;
  if (display_status != "none") {
    document.getElementById("sectionsNav").setAttribute("color-on-scroll", "-1");
  }
  </script>
</body>
{% endblock content %}
