<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="container-fluid">
    <div class="row" style="height: 12.5vh; background: linear-gradient(rgba(0,0,0,0.5), 20%, rgba(0,0,0,0.1), 75%, rgba(0,0,0,0));"></div>
    <div class="container">
      <p>
        <H2><strong>
            ﻿Terms and Conditions
          </strong></H2>
      </p>
       
      <p>
        <H4><strong>
            Agreement between User and www.emberlightwriter.com
          </strong></H4>
        Welcome to www.emberlightwriter.com. The www.emberlightwriter.com website (the "Site") is comprised of various web pages operated by Torchlight Intelligence, LLC ("Torchlight"). www.emberlightwriter.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of www.emberlightwriter.com constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.
      </p>
       
      <p>
        www.emberlightwriter.com is an E-Commerce Site.
      </p>
       
      <p>
        _________________
      </p>
       
      <p>
        <H4><strong>
            Privacy
          </strong></H4>
        Your use of www.emberlightwriter.com is subject to Torchlight's Privacy Policy. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.
      </p>
       
      <p>
        <H4><strong>
            Electronic Communications
          </strong></H4>
        Visiting www.emberlightwriter.com or sending emails to Torchlight constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.
      </p>
       
      <p>
        <H4><strong>
            Your Account
          </strong></H4>
        If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Torchlight is not responsible for third party access to your account that results from theft or misappropriation of your account. Torchlight and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.
      </p>
       
      <p>
        <H4><strong>
            Children Under Thirteen
          </strong></H4>
        Torchlight does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use www.emberlightwriter.com only with permission of a parent or guardian.
      </p>
       
      <p>
        <H4><strong>
            Cancellation/Refund Policy
          </strong></H4>
        You may cancel your subscription at any time. Cancellations will not qualify for a refund, but will retain service until the end of the payment period.
      </p>
       
      <p>
        <H4><strong>
            Links to Third Party Sites/Third Party Services
          </strong></H4>
        www.emberlightwriter.com may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Torchlight and Torchlight is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Torchlight is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Torchlight of the site or any association with its operators.
      </p>
       
      <p>
        Certain services made available via www.emberlightwriter.com are delivered by third party sites and organizations. By using any product, service or functionality originating from the www.emberlightwriter.com domain, you hereby acknowledge and consent that Torchlight may share such information and data with any third party with whom Torchlight has a contractual relationship to provide the requested product, service or functionality on behalf of www.emberlightwriter.com users and customers.
      </p>
       
      <p>
        <H4><strong>
            No Unlawful or Prohibited Use/Intellectual Property
          </strong></H4>
        You are granted a non-exclusive, non-transferable, revocable license to access and use www.emberlightwriter.com strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Torchlight that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.
      </p>
       
      <p>
        All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Torchlight or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.
      </p>
       
      <p>
        You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Torchlight content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Torchlight and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Torchlight or our licensors except as expressly authorized by these Terms.
      </p>
       
      <p>
        <H4><strong>
            Third Party Accounts
          </strong></H4>
        You will be able to connect your Torchlight account to third party accounts. By connecting your Torchlight account to your third party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third party sites). If you do not want information about you to be shared in this manner, do not use this feature.
      </p>
       
      <p>
        <H4><strong>
            International Users
          </strong></H4>
        The Service is controlled, operated and administered by Torchlight from our offices within the USA. By agreeing to the Terms of Use, you agree that you live in the United States outside of the state of California. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Torchlight Content accessed through www.emberlightwriter.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
      </p>
      <p>
        <H4><strong>
            Laws and Regulations
          </strong></H4>
        User must at User's expense, comply with all laws, regulations, ordinances, and requirements of regulations, ordinances, and requirements of all municipal, state and federal authorities that are effective during the term of the lease agreement, pertaining to the use of the premises. User must not do anything that increases the Landlord's insurance premium. User must not violate any municipal, state, federal, or international law or ordinance.
      </p>
      <p>
        <H4><strong>
            Joint and Several Obligation
          </strong></H4>
        If more than one person operates on this account, the obligations of all Users shall be joint and several with each User assuming full liability for the obligations under this Agreement.
      </p>
      <p>
        <H4><strong>
            Severability
          </strong></H4>
        If any term of this Agreement is to any extent invalid, illegal, or incapable of being enforced, such term shall be excluded to the extent of such invalidity, illegality, or unenforceability; all other terms hereof shall remain in full force and effect.
      </p>
      <p>
        <H4><strong>
            Indemnification
          </strong></H4>
        You agree to indemnify, defend and hold harmless Torchlight, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorney's fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Torchlight reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Torchlight in asserting any available defenses.
      </p>
       
      <p>
        <H4><strong>
            Arbitration
          </strong></H4>
        In the event the parties are not able to resolve any dispute between them arising out of or concerning these Terms and Conditions, or any provisions hereof, whether in contract, tort, or otherwise at law or in equity for damages or any other relief, then such dispute shall be resolved only by final and binding arbitration pursuant to the Federal Arbitration Act, conducted by a single neutral arbitrator and administered by the American Arbitration Association, or a similar arbitration service selected by the parties, in a location mutually agreed upon by the parties. The arbitrator's award shall be final, and judgment may be entered upon it in any court having jurisdiction. In the event that any legal or equitable action, proceeding or arbitration arises out of or concerns these Terms and Conditions, the prevailing party shall be entitled to recover its costs and reasonable attorney's fees. The parties agree to arbitrate all disputes and claims in regards to these Terms and Conditions or any disputes arising as a result of these Terms and Conditions, whether directly or indirectly, including Tort claims that are a result of these Terms and Conditions. The parties agree that the Federal Arbitration Act governs the interpretation and enforcement of this provision. The entire dispute, including the scope and enforceability of this arbitration provision shall be determined by the Arbitrator. This arbitration provision shall survive the termination of these Terms and Conditions.
      </p>
       
      <p>
        <H4><strong>
            Liability Disclaimer
          </strong></H4>
        THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. TORCHLIGHT INTELLIGENCE, LLC AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.
      </p>
       
      <p>
        TORCHLIGHT INTELLIGENCE, LLC AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. TORCHLIGHT INTELLIGENCE, LLC AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
      </p>
       
      <p>
        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL TORCHLIGHT INTELLIGENCE, LLC AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF TORCHLIGHT INTELLIGENCE, LLC OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.
      </p>
       
      <p>
        <H4><strong>
            Termination/Access Restriction
          </strong></H4>
        Torchlight reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time for any reason, without notice and without refund. To the maximum extent permitted by law, this agreement is governed by the laws of the State of Wisconsin and you hereby consent to the exclusive jurisdiction and venue of courts in Wisconsin in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.
      </p>
       
      <p>
        You agree that no joint venture, partnership, employment, or agency relationship exists between you and Torchlight as a result of this agreement or use of the Site. Torchlight's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Torchlight's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Torchlight with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.
      </p>
       
      <p>
        Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Torchlight with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Torchlight with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.
      </p>
       
      <p>
        <H4><strong>
            Changes to Terms
          </strong></H4>
        Torchlight reserves the right, in its sole discretion, to change the Terms under which www.emberlightwriter.com is offered. The most current version of the Terms will supersede all previous versions. Torchlight encourages you to periodically review the Terms to stay informed of our updates.
      </p>
      <p>
        <H4><strong>
            Fake News
          </strong></H4>
        Do not use the Site or any of its tools to create false information with the intent to distribute. If you use any tools or property produced by Torchlight Intelligence, such as Emberlight or others, to create fake news, Torchlight Intelligence and/or its shareholders will not be held liable.
      </p>
      <p>
        <H4><strong>
            Contact Us
          </strong></H4>
        Torchlight welcomes your questions or comments regarding the Terms:
      </p>
       
      <p>
        Torchlight Intelligence, LLC
        PO Box 1261
        Manitowoc, Wisconsin 54221
      </p>
       
      <p>
        Email Address:
        support@torchlightintel.com
      </p>
       
      <p>
        Effective as of February 01, 2020
      </p>
       
    </div>
  </div>
  {% include "main/includes/footer.html" %}
</body>
{# JavaScript #}
<script src="{% static 'main/js/demo.js' %}"></script>
{% endblock %}
