<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="page-header" data-slow-parallax="true" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280brightcityorange.jpg'%}), url({% static 'main/images/backgrounds/720brightcityorange.jpg'%}), url({% static 'main/images/backgrounds/480brightcityorange.jpg'%})">
  </div>
  {% include "main/includes/footer.html" %}
</body>
{# JavaScript #}
{% endblock %}
