{% extends "main/base.html" %}
{% load static %}
{% block content %}

<head>
  <meta charset="utf-8">
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <div class="container-fluid backsplash" style="position: relative; width: max; padding: 0; margin: 0; background-image: url({% static 'main/images/backgrounds/1080GreyScaleAbstract.jpeg'%}), url({% static 'main/images/backgrounds/720GreyScaleAbstract.jpeg'%}), url({% static 'main/images/backgrounds/480GreyScaleAbstract.jpeg'%})">
    <div class="row" style="height: 150px; margin: 0; padding: 0;"></div>
    <div class="row" style="height: 767px; margin: 0; padding: 0;">
      <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
        <div class="card card-login">
          <div class="card-header card-header-ember text-center shadowy-0">
            <h3 class="card-title" style="margin-bottom: 10px;">{{ user }}</h3>
          </div>
          <div class="card-body text-center" style="padding: 0 25px;">
            <div class="text-center" style="margin: 35px 0 50px 0;">
              <h4>{{ user.email }}<br></h4>
              <hr style="margin: 25px 0;">
              <h4>Click <a href="/password-change">here</a> if you would like to change your password.</h4>
              <hr style="margin: 25px 0;">
              {% if cancel_at_period_end == "False" %}
              <form action="{% url 'account:cancel_subscription' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0">Cancel Subscription</button>
              </form>
              {% elif cancel_at_period_end == "True" %}
              <form action="{% url 'account:activate_subscription' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0">Activate Subscription</button>
              </form>
              {% elif cancel_at_period_end == "unavailable" %}
              <form action="{% url 'main:pricing' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0">Subscribe</button>
              </form>
              {% endif %}
              <hr style="margin: 25px 0;">
              {% if subscription_type != "unavailable" %}
              <h4>Update Subscription Plan</h4>
              <form action="{% url 'account:change_subscription' %}" method="post">
                {% csrf_token %}
                <div class="btn-group">
                  <button type="button" class="btn btn-raised btn-lg btn-ember shadowy-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ subscription_type }}
                  </button>
                  <div class="dropdown-menu">
                    <li><button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0 btn-block" name="plan" id="plan" value="Monthly">Monthly</button></li>
                    <li><button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0 btn-block" name="plan" id="plan" value="Biyearly">Biyearly</button></li>
                    <li><button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-0 btn-block" name="plan" id="plan" value="Yearly">Yearly</button></li>
                  </div>
                </div>
              </form>
              <hr style="margin: 25px 0;">
              <!-- Stripe - getting credit card token -->
              <form action="{% url 'account:update_payment_method' %}" method="post" id="update_payment_method-form">
                {% csrf_token %}
                  <div style="padding: 10px; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0,0,0,0.25), 0 0 7px rgba(0,0,0,0.15);">
                  <div id="card-element" class="text-center" style="width: 85%;">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                  <!-- Used to display form errors. -->
                  <div id="card-errors" role="alert"></div>
                </div>
                <br>
                <button class="btn btn-raised btn-lg btn-ember shadowy-0">Change Payment Method</button>
              </form>
              {% endif %}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
<script type="text/javascript">
// Create a Stripe client.
var stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Roboto", sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', { style: style });

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('update_payment_method-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('update_payment_method-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
{% endblock %}
