{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% load widget_tweaks %}
{% block content %}
{# style="background-image: url({% static 'main/images/backgrounds/orangenyc.jpg' %}); background-size: cover; background-position: top center;" #}

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280orangecity.jpg'%}), url({% static 'main/images/backgrounds/720orangecity.jpg'%}), url({% static 'main/images/backgrounds/480orangecity.jpg'%})">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
              <div class="card-header card-header-ember text-center shadowy-warning-0">
                <h3 class="card-title" style="margin-bottom: 10px;">Login</h3>
                {# <h3 class="card-title">Login</h3> #}
                <div class="social-line">
                  {# <a href="REPLACE" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-facebook-square"></i> #}
                    {# </a> #}
                  {# <a href="REPLACE" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-twitter"></i> #}
                    {# </a> #}
                  {# <a href="{% url " social:begin" "google-oauth2" %}" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-google-plus-g"></i> #}
                    {# </a> #}
                </div>
              </div>
              {# <p class="description text-center">or be old school:</p> #}
              <div class="card-body">
                {% csrf_token %}
                {# {{ form.non_field_errors }} #}
                <div class="input-group" style="margin-top: 50px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  {# {{ form.username.errors }} #}
                  {% render_field form.username class="form-control" placeholder="Username..."%}
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  {# {{ form.password.errors }} #}
                  {% render_field form.password class="form-control" placeholder="Password..."%}
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-warning-1" id="box-shadowy-0" style="margin:50px auto 25px auto"><strong>Enter</strong></button>
                {% if referral_code == "" %}
                <p>If you need an account,<br> you can <a href="/account/register"><strong>sign up</strong></a> here.</p>
                {% else %}
                <p>If you need an account,<br> you can <a href="/account/register/?ref={{referral_code}}"><strong>sign up</strong></a> here.</p>
                {% endif %}
              </div>
              <div class="text-center" style="font-size: 14px; margin: 20px 0 35px 0;">
                <a href="/password-reset/"><strong>I forgot my password</strong></a><br>
              </div>
            </form>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock content %}
