{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% load widget_tweaks %}
{% block content %}
{# style="background-image: url({% static 'main/images/backgrounds/orangenyc.jpg' %}); background-size: cover; background-position: top center;" #}

<body class="login-page">
  <div class="page-header" style="position: relative; background-image: url({% static 'main/images/backgrounds/1280concert.jpg'%}), url({% static 'main/images/backgrounds/720concert.jpg'%}), url({% static 'main/images/backgrounds/480concert.jpg'%})">
    <div class="container">
      {# <div class="row" style="height: 50px; margin: 0; padding: 0;"></div> #}
      <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-9 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
              {% csrf_token %}
              <div class="card-header card-header-ember text-center shadowy-warning-0">
                <h3 class="card-title" style="margin-bottom: 10px;">Sign Up</h3>
                {# <div class="social-line"> #}
                  {# <a href="REPLACE" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-facebook-square"></i> #}
                    {# </a> #}
                  {# <a href="REPLACE" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-twitter"></i> #}
                    {# </a> #}
                  {# <a href="REPLACE" class="btn btn-just-icon btn-link"> #}
                    {# <i class="fab fa-google-plus-g"></i> #}
                    {# </a> #}
                  {# </div> #}
              </div>
              {# <p class="description text-center">or be old school:</p> #}
              <div class="card-body">
                {# {{ form.non_field_errors }} #}
                <div class="input-group" style="margin-top: 35px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  {# {{ form.username.errors }} #}
                  {% render_field form.username class="form-control" placeholder="Username..."%}
                </div>
                {# <ul class="text-muted">{{ form.username.help_text }}</ul> #}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  {# {{ form.email.errors }} #}
                  {% render_field form.email class="form-control" placeholder="Email..."%}
                </div>
                <ul class="text-muted">{{ form.email.help_text }}</ul>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  {# {{ form.password.errors }} #}
                  {% render_field form.password1 class="form-control" placeholder="Password..."%}
                </div>
                {# <ul class="text-muted">{{ form.password1.help_text }}</ul> #}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">replay</i>
                    </span>
                  </div>
                  {# {{ form.password.errors }} #}
                  {% render_field form.password2 class="form-control" placeholder="Repeat Password..."%}
                </div>
                {# <ul class="text-muted">{{ form.password2.help_text }}</ul> #}
              </div>
              <div class="text-center" style="padding: 0 25px;">
                <br>
                By registering for an account you acknowledge that you have read and agreed to our <a href="/terms-of-service">terms of service</a> and <a href="/privacy-policy">privacy policy</a>.
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-raised btn-lg btn-ember shadowy-warning-1" id="box-shadowy-0" style="margin:25px auto 25px auto"><strong>Enter</strong></button>
                {% if referral_code == "" %}
                <p>If you already have an account,<br>please <a href="/account/login"><strong>login</strong></a> instead.</p><br>
                {% else %}
                <p>If you already have an account,<br>please <a href="/account/login/?ref={{referral_code}}&next=/pricing/%3Fref%3D{{referral_code}}"><strong>login</strong></a> instead.</p><br>
                {% endif %}
              </div>
            </form>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "main/includes/footer.html" %}
  </div>
</body>
{% endblock content %}
