:root {
  --workspace-height: 90vh;
  --tower-height: 89vh;
  --header-height: 49px;
  --suggestion-output-field-height: calc(var(--tower-height) - (var(--header-height) + var(--header-height)));
}

.workspace {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.suggestion-tower {
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  background-color: white;
  margin: 0;
  padding: 0;
  height: var(--tower-height);
  width: 100%;
}

.suggestion-tower::-webkit-scrollbar {
  display: none;
}
.suggestion-tower::-moz-scrollbar {
  display: none;
}
.suggestion-tower::-ms-scrollbar {
  display: none;
}
.suggestion-tower::-o-scrollbar {
  display: none;
}

.suggestion-header {
  margin: 0;
  padding: 0;
  height: var(--header-height);
  width: 100%;
  box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.20);
}

.suggestion-footer {
  margin: 0;
  padding: 0;
  height: var(--header-height);
  width: 100%;
  background-color: white;
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.20);
  z-index: 1000;
}

#rework_button {
  margin: 13px 0 0 20px;
  padding: 0;
  color: black;
  cursor: pointer;
}

#continue_button {
  margin: 10px 20px 0 0;
  padding: 0;
  color: black;
  cursor: pointer;
  position: absolute;
  left: 50%;
}

#suggestion_output_field {
  height: var(--suggestion-output-field-height);
  margin: 0;
  padding: 10px 15px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.snippet-tower {
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  background-color: white;
  margin: 0;
  padding: 15px;
  overflow-y: scroll;
  height: var(--tower-height);
  width: 100%;
}

.snippet-tower::-webkit-scrollbar {
  display: none;
}
.snippet-tower::-moz-scrollbar {
  display: none;
}
.snippet-tower::-ms-scrollbar {
  display: none;
}
.snippet-tower::-o-scrollbar {
  display: none;
}

/* Rules for Editor's Snow Theme */

.ql-toolbar.ql-snow{
  background-color: white;
  border: none;
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.20);
  position: relative;
  z-index: 1;
}

.ql-container.ql-snow{
  color: black;
  height: var(--tower-height);
  width: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow-y: scroll;*/
  background-color: white;
  border: none;
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: black;
}

.ql-snow .ql-picker{
  color:black;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: black;
}
.ql-snow .ql-toolbar.snow, .ql-snow .ql-stroke{
  stroke:black;
}

ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: red;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: red;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter {
  stroke: red;
}

.ql-editor.ql-blank::before {
  color: rgba(255,99,71,0.6);
}

/* Custom Elaborate Button */

/*.ql-elaborate:after {
  content: 'Elaborate';
}*/

.ql-snow.ql-toolbar button.ql-elaborate{
  height: 100%;
  width: 100%;
}

.ql-snow.ql-toolbar button.ql-elaborate:hover{
  stroke: red;
  fill: red;
  color: red;
}

.ql-snow.ql-toolbar button.ql-elaborate:focus{
  stroke: red;
  fill: red;
  color: red;
}

.ql-snow.ql-toolbar button.ql-summarize{
  height: 100%;
  width: 100%;
}

.ql-snow.ql-toolbar button.ql-summarize:hover{
  stroke: red;
  fill: red;
  color: red;
}

.ql-snow.ql-toolbar button.ql-summarize:focus{
  stroke: red;
  fill: red;
  color: red;
}

.ql-snow.ql-toolbar button.ql-articulate{
  height: 100%;
  width: 100%;
}

.ql-snow.ql-toolbar button.ql-articulate:hover{
  stroke: red;
  fill: red;
  color: red;
}

.ql-snow.ql-toolbar button.ql-articulate:focus{
  stroke: red;
  fill: red;
  color: red;
}

/* Placeholder */
.ql-editor.ql-blank::before{
  text-align: center;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.big-placeholder {
  display: block;
  width: 100%;
  margin: ;
  border: none;
  text-align: center;
  overflow: hidden;
}

.big-placeholder::placeholder {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.big-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}
.big-placeholder::-moz-placeholder { /* Firefox 19+ */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}
.big-placeholder:-ms-input-placeholder { /* IE 10+ */
  font-family: "Roboto", sans-serif;
  font-size: 38pc;
  text-align: center;
}
.big-placeholder:-moz-placeholder { /* Firefox 18- */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}

#elaborate_button{
  height: 33px;
  width: 33px;
}

#summarize_button{
  height: 33px;
  width: 33px;
}

#articulate_button{
  height: 33px;
  width: 33px;
}
