:root {
  --rework-button-width: 50px;
  --rework-button-height: 50px;
}

.instruction-button-envelope {
  position: relative;
  display: inline-block;
  width: var(--rework-button-width);
  height: var(--rework-button-height);
  margin-right: calc(0px - var(--rework-button-width));
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.instruction-button {
  position: relative;
  display: inline-block;
  width: var(--rework-button-width);
  height: var(--rework-button-height);
  padding: 10.5px 0 0 0;
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.instruction-panel {
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  background-color: white;
  padding: 15px;
  max-width: 777px;
  /*width: 50vw;*/
  /*height: 50vh;*/
  z-index: 3;
}

.clicked {
  box-shadow: none;
  background-color: transparent;
  font-size: 19px;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.hidden {
 display: none;
 visibility: 0;
}
