<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="container-fluid">
    <div class="row" style="height: 12.5vh; background: linear-gradient(rgba(0,0,0,0.5), 20%, rgba(0,0,0,0.1), 75%, rgba(0,0,0,0));">
    </div>
    <div class="container">
      <h3>
        {{ update.title|title }}
      </h3>
      <p class="text-muted">
        {{ update.published_on|date:"F d, Y" }}
      </p>
      <p>
        {{ update.content|safe }}
      </p>
    </div>
  </div>
  {% include "main/includes/footer.html" %}
</body>
{% endblock %}
