<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<body class="landing-page sidebar-collapse">
  <div class="container-fluid">
    <div class="row" style="height: 12.5vh; background: linear-gradient(rgba(0,0,0,0.5), 20%, rgba(0,0,0,0.1), 75%, rgba(0,0,0,0));"></div>
    <div class="container">
      {% for update in updates %}
      {% if update.status != "draft" %}
      <a href={{ update.slug }}>
        <b>
          <h3>{{ update.title|title }}</h3>
        </b>
      </a>
      <p class="text-muted">
        {{ update.published_on|date:"F d, Y" }}
      </p>
      <p>
        {{ update.content|safe|truncatewords:50 }}
      </p>
      <a href={{ update.slug }}>
          Continue Reading
      </a>
      <hr>
      {% endif %}
      {% endfor %}
    </div>
    {% include "main/includes/footer.html" %}
</body>
{% endblock %}
