:root {
  --cartridge-width: 140px;
  --cartridge-height: 80px;
  --translation-dist: 5.05vw;
  --rework-button-width: 50px;
  --rework-button-height: 50px;
}

.cartridge {
  position: relative;
  display: inline-block;
  width: var(--cartridge-width);
  height: var(--cartridge-height);
  margin: 0.5rem 0px;
  padding: 0.46875rem 1rem;
  /*color: rgba(60,72,87,1);*/
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out, box-shadow 0.2s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.transform-active {
  -webkit-transform: translate(var(--translation-dist),0);
  -moz-transform: translate(var(--translation-dist),0);
  -o-transform: translate(var(--translation-dist),0);
  -ms-transform: translate(var(--translation-dist),0);
  transform: translate(var(--translation-dist),0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

.demo-descriptor {
  width: var(--cartridge-width);
  height: var(--cartridge-height);
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0.5rem 0px;
}

.alt-placeholder {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.big-placeholder {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
}

.big-placeholder::placeholder {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.big-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}
.big-placeholder::-moz-placeholder { /* Firefox 19+ */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}
.big-placeholder:-ms-input-placeholder { /* IE 10+ */
  font-family: "Roboto", sans-serif;
  font-size: 38pc;
  text-align: center;
}
.big-placeholder:-moz-placeholder { /* Firefox 18- */
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  text-align: center;
}

#demo-output-field {
  position: relative;
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  line-height: 1.25;
  z-index: 0;
}

.blinker {
    background: rgba(242, 38, 19, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(242, 38, 19, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-red 2s infinite;
}

.demo-header {
  position: relative;
  background-color: transparent;
  z-index: 1;
}

#demo_header_rework {
  visibility: 1;
  transition: visibility 1s ease;
}

.rework-button {
  position: relative;
  display: inline-block;
  width: var(--rework-button-width);
  height: var(--rework-button-height);
  padding: 10.5px 0 0 0;
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.clicked {
  box-shadow: none;
  background-color: transparent;
  font-size: 19px;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 38, 19, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0);
    }
}
