{% load static %}
.logo {

}

.navbar .navbar-brand img.logo {
  box-shadow: 4px 5px 15px -8px rgba(0, 0, 0, 0.2), 4px 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: filter 1.25s ease;
}

.navbar.navbar-transparent .navbar-brand img.logo {
  box-shadow: 4px 5px 15px -8px rgba(255, 255, 255, 0.35), 4px 8px 10px -5px rgba(255, 255, 255, 0.35);
  transition: filter 0.33s ease;
  filter: invert(100%);
}

.navbar.navbar-transparent .navbar-brand span.logo-text {
  color: white;
  text-shadow: 1.5px 1.5px 2.5px rgba(0,0,0,85);
  transition: color 0.33s ease;
}

.navbar.navbar-transparent .navbar-brand:hover span.logo-text {
  color: red;
  transition: color 0.33s ease;
}

.navbar .navbar-brand span.logo-text {
  color: black;
  text-shadow: 1.5px 1.5px 2.5px rgba(0,0,0,0.35);
  transition: color 0.75s ease
}

.navbar .navbar-brand:hover span.logo-text {
  color: #f44336;
  transition: color 0.33s ease;
}

.landingimage {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width: 300px;
  max-height: 300px;
  filter: invert(0.125);
}

.landingimage-mobile {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width: 150px;
  max-height: 150px;
  filter: invert(0.125);
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shadowy--1 {
  text-shadow: 1.5px 1.5px 2.5px rgba(0,0,0,0.25);
}


.shadowy-0 {
  text-shadow: 1.5px 1.5px 2.2px rgba(0,0,0,0.35);
}

.shadowy-0-270 {
  text-shadow: -1.5px 1.5px 2.2px rgba(0,0,0,0.35);
}

.shadowy-1 {
  text-shadow: 0px 5px 15px #000000,
    0px 5px 15px #000000;
}

.shadowy-2 {
  text-shadow: 0px 2px 15px #000000,
    0px 2px 15px #000000, 0px 2px 10px #000000,
    0px 2px 10px #000000;
}

.shadowy-3 {
  text-shadow: 0px 2px 15px #000000,
    0px 2px 15px #000000, 0px 2px 15px #000000,
    0px 2px 10px #000000,
    0px 2px 10px #000000;
}

.shadowy-4 {
  text-shadow: 0px 1px 20px #000000,
    0px 1px 20px #000000, 0px 1px 20px #000000,
    0px 1px 20px #000000, 0px 1px 10px #000000,
    0px 1px 10px #000000, 0px 1px 10px #000000,
    0px 1px 10px #000000, 0px 1px 10px #000000;
}

.text-shadowy-0 {
  text-shadow:
    0px 0px 3px rgba(0,0,0,0.85),
    0px 0px 10px rgba(0,0,0,0.3),
    1.5px 1.5px 5px rgba(0,0,0,0.5),
    1.5px 1.5px 7.5px rgba(0,0,0,0.5);
}


.text-shadowy-1 {
  text-shadow:
    0px 0px 1.5px rgba(0,0,0,0.85),
    0px 0px 7.5px rgba(0,0,0,0.2),
    1px 1px 2.5px rgba(0,0,0,0.5),
    1.5px 1.5px 5px rgba(0,0,0,0.7),
    1.5px 1.5px 7.5px rgba(0,0,0,0.7);
}

.text-shadowy-2 {
  text-shadow: 0px 0px 5px #000000,
    0px 0px 7.5px #000000,
    0px 0px 10px #000000;
}

.text-shadowy-3 {
  text-shadow: 0px 0px 2.5px #000000,
    2px 2px 5px #000000, 2px 2px 7.5px #000000,
    2px 2px 10px #000000;
}

.text-shadowy-4 {
  text-shadow: 0px 1px 20px #000000,
    0px 1px 20px #000000, 0px 1px 20px #000000,
    0px 1px 20px #000000, 0px 1px 10px #000000,
    0px 1px 10px #000000, 0px 1px 10px #000000,
    0px 1px 10px #000000, 0px 1px 10px #000000;
}

.shadowy-danger {
  text-shadow: 0px 2px 5px #7F2320,
    0px 2px 5px #7F2320, 0px 2px 10px #7F2320,
    0px 2px 10px #7F2320, 0px 2px 15px #7F2320,
    0px 2px 15px #7F2320;
}

.shadowy-warning-0 {
  text-shadow: 2px 2px 5px #BF731E,
    2px 2px 5px #BF731E, 2px 2px 10px #BF731E,
    2px 2px 10px #BF731E;
}

.shadowy-warning-1 {
  text-shadow: 2px 2px 5px #BF731E,
    2px 2px 5px #BF731E, 2px 2px 10px #BF731E,
    2px 2px 10px #BF731E, 2px 2px 15px #BF731E,
    2px 2px 15px #BF731E;
}

.shadowy-warning-2 {
  text-shadow: 1.5px 1.5px 5px #B36C1A,
    1.5px 1.5px 5px #B36C1A, 1.5px 1.5px 10px #B36C1A,
    1.5px 1.5px 10px #B36C1A, 1.5px 1.5px 15px #B36C1A,
    1.5px 1.5px 15px #B36C1A;
}

#box-shadowy-0 {
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
}

#box-shadowy-1 {
  box-shadow:
    2.5px 2.5px 12.5px rgba(0, 0, 0, 0.5),
    2.5px 2.5px 12.5px rgba(0, 0, 0, 0.75);
}

#box-shadowy-2 {
  box-shadow: 0px 1px 20px #000000,
    0px 1px 20px #000000;
}

.vis-container {
  border: 3px solid red;
  z-index: 0;
}

.vis-row {
  border: 2px solid green;
  z-index: 1;
}

.vis-col {
  border: 1px solid blue;
  z-index: 2;
}

.blinker {
    background: rgba(242, 38, 19, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(242, 38, 19, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 38, 19, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0);
    }
}

.message-card-text {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.gold_text {
  background:linear-gradient(90deg,rgb(250,175,25),rgb(250,200,50),rgb(250,200,50),rgb(250,175,50),rgb(250,200,50));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color:transparent;
}

.gold_text:nth-child(1) {
  z-index: 2;
}

.gold_text:nth-child(2) {
  z-index: 1;
  text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
  4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
  -1px -1px 0 #fff;
}

.silver_text {
  background:linear-gradient(-45deg,rgb(69,69,69),rgb(117,117,117),rgb(200,200,200),rgb(117,117,117),rgb(69,69,69));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color:transparent;
}

.silver_text:nth-child(1) {
  z-index: 2;
}

.silver_text:nth-child(2) {
  z-index: 1;
  text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
  4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
  -1px -1px 0 #fff;
}

.backsplash {
  background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: max;
  padding: 0;
  margin: 0;
}

.hidden {
 display: none;
 visibility: 0;
}

.cart-text {
  /*font-size: 24px;*/
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #3C4858;
  font-family: "Roboto", sans-serif;
}
