:root{
  --m_cartridge-width: 28vw;
  --m_cartridge-height: 62px;
  --m_translation-dist: 1em;
  --m_placeholder-font-size: 24px;
}

.m_cartridge {
  position: relative;
  display: inline-block;
  width: var(--m_cartridge-width);
  height: var(--m_cartridge-height);
/*  margin: 0.5rem 0rem;*/
  padding: 0.46875rem 1rem;
  /*color: rgba(60,72,87,1);*/
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.25s ease-in-out, box-shadow 0.2s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

.m_top-transform-active {
  -webkit-transform: translate(0, var(--m_translation-dist));
  -moz-transform: translate(0, var(--m_translation-dist));
  -o-transform: translate(0, var(--m_translation-dist));
  -ms-transform: translate(0, var(--m_translation-dist));
  transform: translate(0, var(--m_translation-dist));
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

.m_bottom-transform-active {
  -webkit-transform: translate(0, calc(-1*var(--m_translation-dist)));
  -moz-transform: translate(0, calc(-1*var(--m_translation-dist)));
  -o-transform: translate(0, calc(-1*var(--m_translation-dist))));
  -ms-transform: translate(0, calc(-1*var(--m_translation-dist)));
  transform: translate(0, calc(-1*var(--m_translation-dist)));
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

.m_demo-descriptor {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0.46875rem 0rem;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 0;
  vertical-align: middle;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: transparent;
}


.m_alt-placeholder {
  display: block;
  width: 90%;
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.m_big-placeholder {
  display: block;
  border: none;
  text-align: center;
  font-size: var(--m_placeholder-font-size);
  background-color: rgba(0,0,0,0);
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}

.m_big-placeholder::placeholder {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  opacity: 0.9;
  text-align: center;
}

.m_big-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif;
  font-size: var(--m_placeholder-font-size);
  text-align: center;
}
.m_big-placeholder::-moz-placeholder { /* Firefox 19+ */
  font-family: "Roboto", sans-serif;
  font-size: var(--m_placeholder-font-size);
  text-align: center;
}

.m_big-placeholder:-ms-input-placeholder { /* IE 10+ */
  font-family: "Roboto", sans-serif;
  font-size: var(--m_placeholder-font-size);
  text-align: center;
}

.m_big-placeholder:-moz-placeholder { /* Firefox 18- */
  font-family: "Roboto", sans-serif;
  font-size: var(--m_placeholder-font-size);
  text-align: center;
}

.m_demo-output-field {
  height: 350px;
  width: 99%;
  margin: 0px;
  padding: 25px 6vw;
  background-color: white;
  font-size: 16px;
  text-align: left;
  /*text-justify: inter-word;*/
  overflow-y: scroll;
  /*scroll-behavior: smooth;*/
  z-index: 5;
}

#m_demo-output-field {
  display: block;
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  line-height: 1.25;
}

.m_blinker {
    background: rgba(242, 38, 19, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(242, 38, 19, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 38, 19, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 38, 19, 0);
    }
}

.m_demo-header {
  position: relative;
  background-color: transparent;
  z-index: 6;
}

#m_demo_header_rework {
  visibility: 1;
  transition: visibility 1s ease;
  z-index: 6;
}

.m_rework-button {
  position: relative;
  display: inline-block;
  width: var(--rework-button-width);
  height: var(--rework-button-height);
  padding: 10.5px 0 0 0;
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.m_clicked {
  box-shadow: none;
  background-color: transparent;
  font-size: 19px;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}
