:root {
  --desktop-ribbon-width: 500px;
  --desktop-font-size: 5em;
  --mobile-ribbon-width: 100vw;
  --mobile-font-size: 3em;
}

/* Twirly Ribbons */
.twirly-ribbon.mobile {
  /*margin: auto;*/
  /*margin-top: 100px;*/
  display: grid;
  width: var(--mobile-ribbon-width);
  grid-auto-rows: calc(var(--mobile-ribbon-width)/5);
  font-size: var(--mobile-font-size);
  font-weight: 600;
  color: #FE4E00;
  font-family: "Roboto";
}

.twirly-ribbon.mobile>span {
  background-color: rgb(225, 225, 225);
  line-height: calc(var(--mobile-ribbon-width)/5);
  text-align: center;
  transform: skewY(11deg);
}

.twirly-ribbon.mobile>span:nth-child(2n) {
  background-color: white;
  transform: skewY(-11deg);
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.twirly-ribbon.desktop {
  /*margin: auto;*/
  /*margin-top: 100px;*/
  display: grid;
  width: var(--desktop-ribbon-width);
  grid-auto-rows: calc(var(--desktop-ribbon-width)/5);
  font-size: var(--desktop-font-size);
  font-weight: 600;
  color: #FE4E00;
  font-family: "Roboto";
}

.twirly-ribbon.desktop>span {
  background-color: white;
  line-height: calc(var(--desktop-ribbon-width)/5);
  text-align: center;
  transform: skewY(-11deg);
  box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.twirly-ribbon.desktop>span:nth-child(2n) {
  background-color: rgb(225, 225, 225);
  transform: skewY(11deg);
  z-index: 0;
}
