.toast {
  /*display: none;*/
  position: fixed;
  top: 50px;
  right: 0;
  margin: 115px 10vw 0 0;
  max-width: 200px;
  padding: 6px 12px;
  background: #ccc;
  color: #333;
  font-family: "Roboto", sans-serif;
  /*font-weight: 500;*/
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.175),
    0px 0px 12.5px rgba(0, 0, 0, 0.175);
  z-index: 1500;
  visiblility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.25s ease, opacity 0.25s ease;
  -moz-transition: visibility 0.25s ease, opacity 0.25s ease;
  -o-transition: visibility 0.25s ease, opacity 0.25s ease;
  transition: visibility 0.25s ease, opacity 0.25s ease;
  transition-delay: 0.25s, 0s, 0s;
  transition-property: top, visibility, opacity;
}

.toast-visible {
  display: inline;
  top: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.toast-success {
  background: rgba(0, 115, 0, 0.9);
  color: white;
}

.toast-error {
  background: rgba(115, 0, 0, 0.9);
  color: white;
}

.toast-info {
  background: rgba(0, 100, 100, 0.9);
  color: white;
}
